<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="/">
      Cuestionarios publicados
    </a>
    <a class="item" href="/borradores">
      Borradores
    </a>
  </div>
</div>

<div class="ui grid" style="margin: 0 auto; text-align:center;">
  <div class="ui ten wide column" style="margin: 0 auto; padding: 0">
    <div class="ui icon buttons">
      <button class="ui button" data-tooltip="Agrega una pregunta de tipo texto"><i class="align font icon"></i></button>
      <button class="ui button" data-tooltip="Agrega una pregunta de selección múltiple"><i class="align list ul icon"></i></button>
      <button class="ui button" data-tooltip="Agrega una pregunta de selección"><i class="align sort icon"></i></button>
      <button class="ui button" data-tooltip="Agrega una pregunta de tipo radio"><i class="align circle outline icon"></i></button>
    </div>  
  </div>
</div>

<br>

<div class="ui grid" style="margin: 0 auto; text-align:center;" *ngIf="!hasAQuestion">
  <div class="ui ten wide column" style="margin: 0 auto;">
    <div class="ui piled segment" style="margin: 0 auto;">
      <h4 class="ui header">No tienes preguntas</h4>
      <p>Aquí aparecerán tus preguntas</p>
    </div>
  </div>
</div>