.button_Group{
    -webkit-box-shadow: 0px 6px 14px -4px rgba(0,0,0,0.86); 
    box-shadow: 0px 6px 14px -4px rgba(0,0,0,0.86);
}
.chadow
{
    -webkit-box-shadow: 0px 6px 14px -4px rgba(0,0,0,0.56); 
    box-shadow: 0px 6px 14px -4px rgba(0,0,0,0.56);
}