<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item">
      Cuestionarios publicados
    </a>
    <a class="item">
      Borradores
    </a>
    <a class="item">
    <button class="ui inverted button right labeled icon">
      <i class="right add icon"></i>
      Nueva encuesta
    </button>
    </a>
  </div>
</div>
<br>
<h1 style="padding-left: 1em">Encuestas</h1>
<br>
<div class="ui grid" style="margin: 0 auto">
  <div class="sixteen wide column">
    <div class="ui inverted segment">
      <div class="ui inverted relaxed divided list">
        <div class="item">
          <div class="content">
            <div class="header">Título de la encuesta</div>
            Descripción
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">Título de la encuesta 2</div>
            Descripción
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">Título de la encuesta tres</div>
            Descripción
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
